USE [master]
GO
/****** Object:  Database [CNCproject]    Script Date: 04/08/2021 10:34:15 ******/
CREATE DATABASE [CNCproject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CNCproject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CNCproject.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CNCproject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CNCproject_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CNCproject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CNCproject]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventManagerCNC1]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventManagerCNC1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHienTrangMayCNC] [int] NOT NULL,
	[IdHienTrangCuaMayCNC] [int] NOT NULL,
	[ThoiDiem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventManagerCNC2]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventManagerCNC2](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHienTrangMayCNC] [int] NOT NULL,
	[IdHienTrangCuaMayCNC] [int] NOT NULL,
	[ThoiDiem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventManagerCNC3]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventManagerCNC3](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHienTrangMayCNC] [int] NOT NULL,
	[IdHienTrangCuaMayCNC] [int] NOT NULL,
	[ThoiDiem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventManagerCNC4]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventManagerCNC4](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHienTrangMayCNC] [int] NOT NULL,
	[IdHienTrangCuaMayCNC] [int] NOT NULL,
	[ThoiDiem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventManagerCNC5]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventManagerCNC5](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHienTrangMayCNC] [int] NOT NULL,
	[IdHienTrangCuaMayCNC] [int] NOT NULL,
	[ThoiDiem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventManagerCNC6]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventManagerCNC6](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHienTrangMayCNC] [int] NOT NULL,
	[IdHienTrangCuaMayCNC] [int] NOT NULL,
	[ThoiDiem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventManagerCNC7]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventManagerCNC7](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHienTrangMayCNC] [int] NOT NULL,
	[IdHienTrangCuaMayCNC] [int] NOT NULL,
	[ThoiDiem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventManagerCNC8]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventManagerCNC8](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdHienTrangMayCNC] [int] NOT NULL,
	[IdHienTrangCuaMayCNC] [int] NOT NULL,
	[ThoiDiem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HienTrangCuaMayCNC]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HienTrangCuaMayCNC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HienTrangMayCNC]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HienTrangMayCNC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[IdCaLamViec] [int] NOT NULL,
	[IdChucVu] [int] NOT NULL,
	[Password] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OnlineStatus]    Script Date: 04/08/2021 10:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OnlineStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[IdCaLamViec] [int] NOT NULL,
	[IdChucVu] [int] NOT NULL,
	[StatusOnl] [int] NOT NULL,
	[ThoiDiem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([Id], [DisplayName]) VALUES (1, N'admin')
INSERT [dbo].[ChucVu] ([Id], [DisplayName]) VALUES (2, N'nhanvien1')
INSERT [dbo].[ChucVu] ([Id], [DisplayName]) VALUES (3, N'nhanvien2')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
SET IDENTITY_INSERT [dbo].[EventManagerCNC1] ON 

INSERT [dbo].[EventManagerCNC1] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (1, 1, 1, CAST(N'2021-04-02 17:33:35.697' AS DateTime))
INSERT [dbo].[EventManagerCNC1] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (2, 1, 1, CAST(N'2021-04-02 17:33:35.227' AS DateTime))
INSERT [dbo].[EventManagerCNC1] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (3, 1, 1, CAST(N'2021-04-02 17:34:00.200' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EventManagerCNC1] OFF
SET IDENTITY_INSERT [dbo].[EventManagerCNC2] ON 

INSERT [dbo].[EventManagerCNC2] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (1, 1, 1, CAST(N'2021-04-02 17:33:35.697' AS DateTime))
INSERT [dbo].[EventManagerCNC2] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (2, 1, 1, CAST(N'2021-04-02 17:33:35.227' AS DateTime))
INSERT [dbo].[EventManagerCNC2] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (3, 1, 1, CAST(N'2021-04-02 17:34:00.200' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EventManagerCNC2] OFF
SET IDENTITY_INSERT [dbo].[EventManagerCNC3] ON 

INSERT [dbo].[EventManagerCNC3] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (1, 1, 1, CAST(N'2021-04-06 14:10:31.497' AS DateTime))
INSERT [dbo].[EventManagerCNC3] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (2, 1, 2, CAST(N'2021-04-06 14:36:33.170' AS DateTime))
INSERT [dbo].[EventManagerCNC3] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (3, 1, 1, CAST(N'2021-04-06 14:36:34.867' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EventManagerCNC3] OFF
SET IDENTITY_INSERT [dbo].[EventManagerCNC4] ON 

INSERT [dbo].[EventManagerCNC4] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (1, 1, 1, CAST(N'2021-04-02 17:33:35.697' AS DateTime))
INSERT [dbo].[EventManagerCNC4] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (2, 1, 1, CAST(N'2021-04-02 17:33:35.227' AS DateTime))
INSERT [dbo].[EventManagerCNC4] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (3, 1, 1, CAST(N'2021-04-02 17:34:00.200' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EventManagerCNC4] OFF
SET IDENTITY_INSERT [dbo].[EventManagerCNC5] ON 

INSERT [dbo].[EventManagerCNC5] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (1, 1, 1, CAST(N'2021-04-06 14:10:31.497' AS DateTime))
INSERT [dbo].[EventManagerCNC5] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (2, 1, 2, CAST(N'2021-04-06 14:36:33.187' AS DateTime))
INSERT [dbo].[EventManagerCNC5] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (3, 1, 1, CAST(N'2021-04-06 14:36:34.897' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EventManagerCNC5] OFF
SET IDENTITY_INSERT [dbo].[EventManagerCNC6] ON 

INSERT [dbo].[EventManagerCNC6] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (2, 1, 2, CAST(N'2021-04-06 14:15:50.893' AS DateTime))
INSERT [dbo].[EventManagerCNC6] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (3, 2, 2, CAST(N'2021-04-06 14:55:49.650' AS DateTime))
INSERT [dbo].[EventManagerCNC6] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (4, 1, 2, CAST(N'2021-04-06 14:55:54.437' AS DateTime))
SET IDENTITY_INSERT [dbo].[EventManagerCNC6] OFF
SET IDENTITY_INSERT [dbo].[EventManagerCNC7] ON 

INSERT [dbo].[EventManagerCNC7] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (1, 1, 1, CAST(N'2021-04-06 14:10:31.497' AS DateTime))
INSERT [dbo].[EventManagerCNC7] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (2, 1, 2, CAST(N'2021-04-06 14:36:33.253' AS DateTime))
INSERT [dbo].[EventManagerCNC7] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (3, 1, 1, CAST(N'2021-04-06 14:36:34.923' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EventManagerCNC7] OFF
SET IDENTITY_INSERT [dbo].[EventManagerCNC8] ON 

INSERT [dbo].[EventManagerCNC8] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (1, 1, 1, CAST(N'2021-04-02 17:33:35.697' AS DateTime))
INSERT [dbo].[EventManagerCNC8] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (2, 1, 1, CAST(N'2021-04-02 17:33:35.227' AS DateTime))
INSERT [dbo].[EventManagerCNC8] ([Id], [IdHienTrangMayCNC], [IdHienTrangCuaMayCNC], [ThoiDiem]) VALUES (3, 1, 1, CAST(N'2021-04-02 17:34:00.200' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[EventManagerCNC8] OFF
SET IDENTITY_INSERT [dbo].[HienTrangCuaMayCNC] ON 

INSERT [dbo].[HienTrangCuaMayCNC] ([Id], [DisplayName]) VALUES (1, N'1')
INSERT [dbo].[HienTrangCuaMayCNC] ([Id], [DisplayName]) VALUES (2, N'2')
SET IDENTITY_INSERT [dbo].[HienTrangCuaMayCNC] OFF
SET IDENTITY_INSERT [dbo].[HienTrangMayCNC] ON 

INSERT [dbo].[HienTrangMayCNC] ([Id], [DisplayName]) VALUES (1, N'1')
INSERT [dbo].[HienTrangMayCNC] ([Id], [DisplayName]) VALUES (2, N'2')
INSERT [dbo].[HienTrangMayCNC] ([Id], [DisplayName]) VALUES (3, N'3')
SET IDENTITY_INSERT [dbo].[HienTrangMayCNC] OFF
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([Id], [FullName], [IdCaLamViec], [IdChucVu], [Password]) VALUES (6, N'admin', 0, 1, N'db69fc039dcbd2962cb4d28f5891aae1')
INSERT [dbo].[NhanVien] ([Id], [FullName], [IdCaLamViec], [IdChucVu], [Password]) VALUES (7, N'nhanvien1', 1, 2, N'db69fc039dcbd2962cb4d28f5891aae1')
INSERT [dbo].[NhanVien] ([Id], [FullName], [IdCaLamViec], [IdChucVu], [Password]) VALUES (8, N'nhanvien2', 2, 2, N'db69fc039dcbd2962cb4d28f5891aae1')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
SET IDENTITY_INSERT [dbo].[OnlineStatus] ON 

INSERT [dbo].[OnlineStatus] ([Id], [DisplayName], [IdCaLamViec], [IdChucVu], [StatusOnl], [ThoiDiem]) VALUES (1, N'admin', 0, 1, 0, CAST(N'2021-04-02 00:00:00.000' AS DateTime))
INSERT [dbo].[OnlineStatus] ([Id], [DisplayName], [IdCaLamViec], [IdChucVu], [StatusOnl], [ThoiDiem]) VALUES (2, N'nhanvien1', 1, 2, 0, CAST(N'2021-04-02 00:00:00.000' AS DateTime))
INSERT [dbo].[OnlineStatus] ([Id], [DisplayName], [IdCaLamViec], [IdChucVu], [StatusOnl], [ThoiDiem]) VALUES (3, N'nhanvien2', 2, 2, 0, CAST(N'2021-04-03 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[OnlineStatus] OFF
ALTER TABLE [dbo].[EventManagerCNC1]  WITH CHECK ADD FOREIGN KEY([IdHienTrangCuaMayCNC])
REFERENCES [dbo].[HienTrangCuaMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC1]  WITH CHECK ADD FOREIGN KEY([IdHienTrangMayCNC])
REFERENCES [dbo].[HienTrangMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC2]  WITH CHECK ADD FOREIGN KEY([IdHienTrangCuaMayCNC])
REFERENCES [dbo].[HienTrangCuaMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC2]  WITH CHECK ADD FOREIGN KEY([IdHienTrangMayCNC])
REFERENCES [dbo].[HienTrangMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC3]  WITH CHECK ADD FOREIGN KEY([IdHienTrangCuaMayCNC])
REFERENCES [dbo].[HienTrangCuaMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC3]  WITH CHECK ADD FOREIGN KEY([IdHienTrangMayCNC])
REFERENCES [dbo].[HienTrangMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC4]  WITH CHECK ADD FOREIGN KEY([IdHienTrangCuaMayCNC])
REFERENCES [dbo].[HienTrangCuaMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC4]  WITH CHECK ADD FOREIGN KEY([IdHienTrangMayCNC])
REFERENCES [dbo].[HienTrangMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC5]  WITH CHECK ADD FOREIGN KEY([IdHienTrangCuaMayCNC])
REFERENCES [dbo].[HienTrangCuaMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC5]  WITH CHECK ADD FOREIGN KEY([IdHienTrangMayCNC])
REFERENCES [dbo].[HienTrangMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC6]  WITH CHECK ADD FOREIGN KEY([IdHienTrangCuaMayCNC])
REFERENCES [dbo].[HienTrangCuaMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC6]  WITH CHECK ADD FOREIGN KEY([IdHienTrangMayCNC])
REFERENCES [dbo].[HienTrangMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC7]  WITH CHECK ADD FOREIGN KEY([IdHienTrangCuaMayCNC])
REFERENCES [dbo].[HienTrangCuaMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC7]  WITH CHECK ADD FOREIGN KEY([IdHienTrangMayCNC])
REFERENCES [dbo].[HienTrangMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC8]  WITH CHECK ADD FOREIGN KEY([IdHienTrangCuaMayCNC])
REFERENCES [dbo].[HienTrangCuaMayCNC] ([Id])
GO
ALTER TABLE [dbo].[EventManagerCNC8]  WITH CHECK ADD FOREIGN KEY([IdHienTrangMayCNC])
REFERENCES [dbo].[HienTrangMayCNC] ([Id])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([IdChucVu])
REFERENCES [dbo].[ChucVu] ([Id])
GO
ALTER TABLE [dbo].[OnlineStatus]  WITH CHECK ADD FOREIGN KEY([IdChucVu])
REFERENCES [dbo].[ChucVu] ([Id])
GO
ALTER TABLE [dbo].[OnlineStatus]  WITH CHECK ADD FOREIGN KEY([IdChucVu])
REFERENCES [dbo].[ChucVu] ([Id])
GO
USE [master]
GO
